* {
    padding: 0;
    margin: 0;
    border: 0;
}
.mainLanding{
    background-color: rgb(29, 29, 29);
}
.headerLanding {
    background-color: rgb(29, 29, 29);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.headerLanding h1 {
    color: #ffffff;
    background-color: #ffffff00;
    font-size: 3em;
}
.headerLanding a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color:#fc0000;
    border-radius: 10px;
    height: 70px;
    padding-inline: 0.5em;
    position: absolute;
    right: 2%;
    top: 20%;
    display: block;

}
.headerLanding a p{
    margin: 0;
}

.navBarLanding {
    color: white;
    font-weight: bold;
    background-color: #c40a0a;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 7px 8px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 7px 8px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 8px 1px rgba(0, 0, 0, 0.75);
    height: 30px;
}

.navBarLanding ul {
    display: flex;
    list-style: none;
    gap: 3em;
    margin: 0;
    padding: 0;
}

.navBarLanding ul li button {
    color: white;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0);
}

.navBarLanding ul li button:hover {
    text-shadow: 0px 1px 9px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0);
}

.contenedorImagen {
    height: 800px; /* Altura fija */
    position: relative;
    overflow: hidden;
    margin: 0;
    background-image: url("https://i.blogs.es/ccde36/cocktail-glass-with-ice-cubes-garnished-with-dried-lemon-fruit-1-/1366_2000.jpg"); /* Establecer la imagen de fondo */
    background-size: fill; 
    background-position: center; 
}

.contenedorImagen img {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);

}


.contenedorImagen figcaption {
    position: absolute;
    text-align: center;
    font-size: 4rem;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -10%);
    background: rgba(0, 0, 0, 0.753);
    color: white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.contendoresIntroduccionServicio {
    background-color: rgb(29, 29, 29);
    display: flex;
    justify-content: center;
    gap: 10%;
    padding-block: 6em;
}

.contendoresIntroduccionServicio article {
    width: 25%;
    background-color: #c40a0a;
    border-radius: 10px;
    box-shadow: -4px 11px 8px 7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 11px 8px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 11px 8px 7px rgba(0, 0, 0, 0.75);
}

.contendoresIntroduccionServicio h3 {
    color: white;
    text-align: center;
    margin-top: 0.7em;
}

.contendoresIntroduccionServicio p {
    color: white;
    font-size: 1.2em;
    padding-inline: 1.5em;
}

.contenedorServicios {
    background-color: rgb(61, 61, 61);
    display: flex;
    background-image: url('https://steamuserimages-a.akamaihd.net/ugc/1000303974922633591/8236EC415FB1755F9FE5A783A1034F9A1013794E/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false');
    /* URL de la imagen de fondo */
    background-size: cover;
    /* Escalar la imagen para cubrir todo el contenedor */
    background-position: center;
    /* Posicionar la imagen en el centro del contenedor */
    background-repeat: no-repeat;
    /* Evitar que la imagen de fondo se repita */
}

.contenedorServicios article {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.404);
}

.contenedorServicios h3 {
    color: rgb(255, 255, 255);
    font-size: 1.9rem;
    text-align: center;
    padding-top: 1.4em;
    margin: 0;
}

.contenedorServicios ul {
    width: 55%;
    text-align: center;
    list-style: none;
    padding: 0;
    margin-block: 1.4em;
    margin-inline: auto;
}

.contenedorServicios ul li {

    color: white;
    text-align: start;
    font-size: 1.1em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.contenedorServicios ul li i {

    font-weight: bold !important;
}

.btnPrecio {
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.788);
    margin-top: 0.4em;
    margin-bottom: 2em;
    border-radius: 9px;
    padding-block: 0.2em;
    padding-inline: 2em;
}

.btnPrecio:hover {
    color: aliceblue;

    background-color: rgba(253, 3, 3, 0.555);
}

.contendorRecomendacionesServicio {
    background-color: #c40a0a;
    width: 50%;
    margin-block: 5em;
    margin-inline: auto;
    border-radius: 9px;
    box-shadow: -4px 11px 8px 7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 11px 8px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 11px 8px 7px rgba(0, 0, 0, 0.75);
}

.contendorRecomendacionesServicio h3 {
    color: white;
    text-align: center;
    font-weight: 600;
    padding-top: 1em;
}

.contendorRecomendacionesServicio h4 {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.contendorRecomendacionesServicio section {
    color: white;
    padding-inline: 2em;
}

.contenedorImagenPrueba {
    background-color: rgb(255, 0, 0) !important;
    height: 700px; /* Altura fija */
    position: relative;
    margin: 0;
    background-image: url("https://static.wixstatic.com/media/78b131d5940c4fa4af3c52691d889ee2.jpg/v1/fill/w_1903,h_740,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/78b131d5940c4fa4af3c52691d889ee2.jpg"); 
    background-size:cover; 
    background-position: center; /* Centrar la imagen de fondo */
    margin: 0;
}


.contenedorImagenPrueba figcaption {
    position: absolute;
    text-align: center;
    font-size: 2.2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.contenedorImagenPrueba form {
    position: absolute;
    font-size: 2.2rem;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    width: 100%;
    height: 2.4em;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorImagenPrueba form input {
    width: 300px;
    margin-right: 1em;
}

.contenedorImagenPrueba form label,
input,
button {
    font-size: 1rem;
    height: 2.3em;
}

.contenedorImagenPrueba form button {
    color: #ffffff;
    font-weight: 500;
    background-color: rgb(38, 150, 47);
    border-radius: 10px;
    padding-inline: 1em;
}

.footerLanding {
    color: white;
    background-color: #c40a0a;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footerLanding h2 {
    font-size: 2.7rem;
}
.footerLanding p {
    margin-bottom: 0;
}