#fondoMenu {
    background-image: url(../public/fondo-menu.jpeg); /* Reemplaza 'bar_background.jpg' con la ruta de tu imagen de fondo */
    background-size: cover ;
    background-position: center ;
    background-repeat: no-repeat ;
  }
  
  .container {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    color: rgb(237, 237, 237)
    
  }
  
  /* Resto de los estilos ... */
  
  
  .title {
    text-align: center;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }
  
  .product-info {
    padding: 10px;
  }
  
  .product-name {
    margin: 0;
  }
  
  .product-price {
    margin: 5px 0;
    font-weight: bold;
  }
  
  .selected-product {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .selected-product-image {
    width: 100%;
    height: auto;
  }