* {
    padding: 0;
    margin: 0;
    border: 0;
}

.mainLanding {
    background-color: rgb(29, 29, 29);
}

.sectionSeparator {
    color: white;
    font-weight: bold;
    background-color: rgb(182, 0, 0);
    min-height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 7px 8px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 7px 8px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 7px 8px 1px rgba(0, 0, 0, 0.75);
    z-index: 999;
}

.sectionSeparator h2 {
    font-weight: 700;
    margin: 0;
}

/* Propiedades del Header*/

.headerLanding {
    background-color: rgb(24, 29, 29);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.headerLanding h1 {
    color: #ffffff;
    background-color: #ffffff00;
    font-size: 3em;
}

.headerLanding a {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border: 2px solid rgba(255, 3, 3, 0.377);
    background-color: rgb(12, 12, 12);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 4px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 6px 1px 1px rgba(0, 0, 0, 0.75);
    border-radius: 0.5rem;
    padding-inline: 0.5em;
    display: inline-block;
    position: absolute;
    right: 1%;

}

.headerLanding a p {
    margin: 0;
}

/* Propiedades del menu despelgable y Navbar*/
#contenedor-menu {
    scroll-margin-top: 10rem;
    background-color: #c40a0a;
    position: relative;
}

#contenedor-menu i {
    color: white;
    font-size: 2.8rem;

}

#contenedor-menu #cerrar-menu {
    display: none;
    position: absolute;
    right: 2%;
}

#contenedor-menu #abrir-menu {
    position: absolute;
    top: -6%;
    right: 2%;
}

#contenedor-menu #contenedor-enlaces {
    height: 0;
    transition: height 1s ease;
    overflow: hidden;
}

#contenedor-menu:target #abrir-menu {
    display: none;
}

#contenedor-menu:target #cerrar-menu {
    display: block;
}

#contenedor-menu:target #contenedor-enlaces {
    height: 33.5vh;
    transition: height 1s ease;
}

#contenedor-enlaces {
    padding-top: 7vh;
    display: flex;
    flex-direction: column;
    list-style: none;

    padding-inline: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    border-top:1px solid rgba(255, 255, 255, 0.692);
    border-bottom:1px solid rgba(255, 255, 255, 0.678);
}

#contenedor-enlaces li {
    border-top: 1px solid rgba(255, 255, 255, 0.705);
    padding-inline: 0.9em;
    padding-block: 0.3rem;
    transition: background-color 0.5s ease;

}

.navBarLanding ul li a {
    color: white;
    font-size: larger;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    width: 100%;
    display: inline-block;
}

.navBarLanding ul li:hover {
    color: rgb(190, 190, 190);
    background-color: #990b0b;
    transition: background-color 0.5s ease;
    border-radius: 0.4em;
}
/*Menu para dispositivos grandes*/
@media(min-width:950px){
    #contenedor-menu #abrir-menu {
        display: none ;
    }
    
    #contenedor-menu #cerrar-menu {
        display: none ;
    }
#contenedor-enlaces {
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#contenedor-menu #contenedor-enlaces {
    height:7vh;
    transition: height 1s ease;
    overflow: visible;
}
#contenedor-enlaces li {
border: 0;
margin-inline: 1rem;
}
}

/* Primer Contenedor, imagen de inicio*/

.contenedorImagen {
    min-height: 93vh;
    position: relative;
    overflow: hidden;
    margin: 0;
    background-image: url("https://i.blogs.es/ccde36/cocktail-glass-with-ice-cubes-garnished-with-dried-lemon-fruit-1-/1366_2000.jpg");
    /* Establecer la imagen de fondo */
    background-size: fill;
    background-position: center;
}

.contenedorImagen img {
    display: block;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);

}


.contenedorImagen figcaption {
    position: absolute;
    text-align: center;
    font-size: 4rem;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -10%);
    background: rgba(0, 0, 0, 0.753);
    color: white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

/* Segundo Contenedor, introduccion  de la pagina/servicio*/

.contendoresIntroduccionServicio {
    background-color: rgb(29, 29, 29);

    min-height: 97vh;
    position: relative;
    display: flex;
}

.contendoresIntroduccionServicio section {
    width: 100%;
    position: absolute;
    top: 15%;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contendoresIntroduccionServicio article {
    background-color: #0f0f0f;
    border-radius: 10px;
    outline: 1px solid rgba(224, 13, 13, 0.671);
    max-width: 30rem;
    width: 100%;
    box-shadow: -4px 11px 8px 7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 11px 8px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 11px 8px 7px rgba(0, 0, 0, 0.75);
}

@media(max-width:1100px) {


    .contendoresIntroduccionServicio section {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contendoresIntroduccionServicio article {
        border-radius: 10px;
        margin-block: 4rem;
    }
}

.contendoresIntroduccionServicio h3 {
    color: white;
    text-align: center;
    margin-top: 0.7em;
}

.contendoresIntroduccionServicio p {
    color: white;
    font-size: 1.2em;
    padding-inline: 1.5em;
}

/* Tercer Contenedor, Precios y diferencias de cada servicio */

.contenedorServicios {
    position: relative;
    background-color: rgb(0, 0, 0);
    min-height: 93vh;
    display: flex;
    justify-content: space-between;
    z-index: 2;

}

.contenedorServicios::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://steamuserimages-a.akamaihd.net/ugc/1000303974922633591/8236EC415FB1755F9FE5A783A1034F9A1013794E/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(2px);
    z-index: -1;
}


.contenedorServicios article {
    background-color: rgba(0, 0, 0, 0.829);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contenedorServicios h3 {
    width: 97%;
    color: rgb(255, 255, 255);
    display: block;
    font-weight: 600;
    font-size: 2rem;
    text-align: center;
    border-bottom: 2px solid rgba(240, 240, 240, 0.404);
    padding-block: 1rem;
    margin: 0;
}

.contenedorServicios ul {
    width: 70%;
    text-align: center;
    list-style: none;
    padding: 0;
    margin-block: 1.4rem;
    margin-inline: auto;
}

.contenedorServicios ul li {

    color: white;
    text-align: start;
    font-size: 1.1rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.contenedorServicios ul li i {
    font-size: 1.5rem;

}

.btnPrecio {
    color: aliceblue;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.788);
    margin-top: 0.4em;
    margin-bottom: 2em;
    border-radius: 9px;
    padding-block: 0.2em;
    padding-inline: 2em;
}

.btnPrecio:hover {
    color: aliceblue;
    background-color: rgba(253, 3, 3, 0.555);
}

@media(max-width:1500px) {
    .contenedorServicios {
        flex-direction: column;

    }

    .contenedorServicios::before {
        background-image: none;

    }

    .contenedorServicios ul {
        width: 80%;
    }

    .contenedorServicios h3 {
        width: 100%;
    }

    .contenedorServicios article {
        border-bottom: 2px solid rgba(240, 240, 240, 0.404);
        border-left: 2px solid rgba(240, 240, 240, 0.404);
        border-right: 2px solid rgba(240, 240, 240, 0.404);
    }

    .btnPrecio {
        border: 2px solid rgba(255, 0, 0, 0.329);
    }

    .btnPrecio:hover {
        background-color: rgba(255, 255, 255, 0.068);
        outline: 2px solid rgba(255, 0, 0, 0.514);
    }

    .contenedorServicios article {
        position: relative;
        min-height: 93vh;
        display: flex;
        justify-content: space-between;
        z-index: 2;

    }

    .contenedorServicios article::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(3px);
        z-index: -1;
    }


    .contenedorServicios article:nth-child(1)::before {
        background-image: url("../../public/istockphoto-490884810-612x612.jpg");
        opacity: 0.25;
        background-color: black;
    }

    .contenedorServicios article:nth-child(2)::before {
        background-image: url('../../public/masha-kotliarenko-7qDBoSUBfvI-unsplash.jpg');
        opacity: 0.8;
        background-color: black;
    }

    .contenedorServicios article:nth-child(3)::before {
        background-image: url("../../public/papers.co-bd60-night-cafe-bar-dark-city-art-illustration-red-36-3840x2400-4k-wallpaper.jpg");
        opacity: 0.6;
        background-color: black;
    }

}

/* Cuarto contenedor , recomendaciones para contratar un servicio */

.contendorRecomendacionesServicio {
    width: 100%;
    min-height: 93vh;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 2rem;
}

.contendorRecomendacionesServicio article {
    width: 80%;
    background-color: rgb(17, 17, 17);
    outline: 1px solid rgba(224, 13, 13, 0.671);
    border-radius: 0.5rem;
    box-shadow: -4px 5px 8px 7px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: -4px 5px 8px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -4px 11px 8px 7px rgba(0, 0, 0, 0.75);

    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contendorRecomendacionesServicio h3 {
    color: white;
    text-align: center;
    font-weight: 600;
    margin-inline: auto !important;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.199);
    display: inline-block;
}


.contendorRecomendacionesServicio article section h4 {
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    padding-block: 0.2rem;
    border-bottom: 1px solid rgba(216, 12, 12, 0.479);
    display: inline-block;
}

.contendorRecomendacionesServicio article section {
    color: white;
    font-size: 1.2rem;
    padding-inline: 2rem;
    padding-block: 2rem;
}

@media(max-width:700px) {
    .contendorRecomendacionesServicio article {
        width: 100%;
    }

    .contendorRecomendacionesServicio article section {
        font-size: 1.1rem;
        padding-inline: 0rem;

    }
}

/* Quinto contenedor , para realizar una prueba de 7 dias */

.contenedorImagenPrueba {
    background-color: rgb(255, 0, 0);
    min-height: 93vh;
    position: relative;
    margin: 0;
    background-image: url("https://static.wixstatic.com/media/78b131d5940c4fa4af3c52691d889ee2.jpg/v1/fill/w_1903,h_740,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01,enc_auto/78b131d5940c4fa4af3c52691d889ee2.jpg");
    background-size: cover;
    background-position: center;
    /* Centrar la imagen de fondo */
    margin: 0;
}


.contenedorImagenPrueba figcaption {
    position: absolute;
    text-align: center;
    font-size: 2.2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.contenedorImagenPrueba form {
    position: absolute;
    font-size: 2.2rem;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    width: 100%;
    height: 2.4em;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorImagenPrueba form input {
    width: 300px;
    margin-right: 1em;
}

.contenedorImagenPrueba form label,
input,
button {
    font-size: 1rem;
    height: 2.3em;
}

.contenedorImagenPrueba form button {
    color: #ffffff;
    font-weight: 500;
    background-color: rgb(38, 150, 47);
    border-radius: 10px;
    padding-inline: 1em;
}

/* propiedades del footer */

.footerLanding {
    color: white;
    background-color: #c40a0a;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerLanding p {
    margin-bottom: 0;
}

.footerLanding a {
    color: white;
}

.footerLanding p {
    color: white;
    margin-block: 1rem;
    font-size: 1.35rem;
    font-weight: 600;
}