/*css general*/
.tituloH3MiCuenta{
    color: white;
    font-size: 1.2em;
    background-color: rgb(161, 5, 5);
    padding-left: 0.4em;
    padding-block: 0.1em;
    margin: 0;
}
/*SECCION DE MI INFORMACION*/

#articuloMiCuenta h2{
    color: white;
    background-color: red;
    padding-left: 0.3em;
    padding-block: 0.3em;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: start;
}
#miCuentaForm ,#pagoForm{
    color: white;
    font-weight: bold;
    background-color: rgb(43, 41, 41);
    padding-block: 0.3em;
    padding-inline: 2.5%;
}
#miCuentaForm section, #pagoForm section{
    margin-block: 0.4em;
    display: flex;
    flex-direction: column;
}
#miCuentaForm section input, #pagoForm input{
    border-radius: 0.3em;
    padding-left: 0.3em;
}

#botonesFormulario{
    padding-block: 0.7em;
}
#botonesFormulario input{
    color: white;
    background-color: black;
    font-weight: bold;
    margin-block: 0.3em;
    transition: color 1s ease;
    transition: background-color 0.7s ease;
}
#botonesFormulario input:hover, #botonesFormulario input:focus {
    color: black;
    background-color: rgb(245, 48, 48);
}


/*seccion estado de mi servicio*/
#contenedorEstadoServicio{
    padding-block: 0.2em;
    background-color: rgb(43, 41, 41);
    padding-inline: 2.5%;

}
.seccionEstadoServicio{
    background-color: rgb(43, 41, 41);
    display: flex;
    align-items: center;
    padding-top: 1.1rem;
}
.seccionEstadoServicio p{
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
.seccionEstadoServicio button{
    font-weight: 600;
    margin-left: 0.5em;
    padding-inline: 0.5em;
    border-radius: 0.3em;
    outline: 1px solid black;
    box-shadow: 0px -3px 31px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px -3px 31px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -3px 31px 0px rgba(0,0,0,0.75);
}
.seccionEstadoServicio .fondoRojo{
    color: white;
    background-color: rgb(218, 37, 37);
}
.seccionEstadoServicio .fondoVerde{
    color: white;
    background-color: rgb(46, 139, 27);
}
#contenedorEstadoServicio a{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    padding-block: 1rem;
    text-decoration: none;
}
#contenedorEstadoServicio a:hover, #contenedorEstadoServicio a:focus{
    color: rgb(240, 71, 71);
    font-size: 1.1rem;
    padding-block: 0.9rem;

}